# Python virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

#node modules
node_modules/

#recordings

# Model files
models
models/